/* c:\GitHub\A-Menina-do-Lugar\src\AboutUs\about.module.css */
.aboutContainer {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  background-color: #eed4d4;
  border-radius: 16px;
  padding: 3rem 2rem;
}

/* Outras classes permanecem, mas ajuste para fundo branco e fontes sóbrias se necessário */

.aboutText {
  flex: 1 1 50%;
  max-width: 100%;
  text-align: center;
  color: #000000;
}

.aboutSubheading {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: #84878a;
}

.aboutHeading {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: #a8924a;
  font-family: 'Merriweather', serif;
}

.aboutParagraph {
  font-size: 1.125rem;
  line-height: 1.8;
  color: #000000;
  margin-bottom: 1rem;
  text-align: justify;
}

.swiperContainer {
  flex: 1 1 40%;
  max-width: 400px;
}

:global(.swiper-slide img) {
  width: 100%;
  border-radius: 2rem;
  object-fit: cover;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}