@keyframes fall {
    0% {
      transform: translateX(0) translateY(10vh) rotate(0deg);
      opacity: 0;
    }
    25% {
      transform: translateX(20px) translateY(25vh) rotate(45deg);
      opacity: 15;
    }
    50% {
      transform: translateX(-20px) translateY(50vh) rotate(90deg);
      opacity: 25;
    }
    75% {
      transform: translateX(20px) translateY(75vh) rotate(135deg);
      opacity: 50;
    }
    100% {
      transform: translateX(-20px) translateY(100vh) rotate(180deg);
      opacity: 75;
    }
  }
  
  .fallingLeaf {
    position: absolute;
    opacity: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-image: url('https://png.pngtree.com/png-vector/20231019/ourmid/pngtree-leaf-childish-cartoon-object-png-image_10271204.png'); /* ajuste o caminho se necessário */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  

  